# Mac
.CFUserTextEncoding
.android/
.cocoapods/
.config/flutter/
.config/htop/
.config/iterm2/
.dart-tool/
.dart/
.dartServer/
.flutter
.flutter-devtools/
.lesshst
.lldb/
.local/
.npm/
.oh-my-zsh/
.pub-cache/
.ssh/
.swiftpm/
.Trash/
.viminfo
.vscode-oss-dev/
.vscode/
.yarnrc
.zprofile
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Music/
Pictures/
Public/
workdir/
TO_DO.md
